.CodeMirror {
    height: 100% !important
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fv-hover-fill-focus:hover {
    fill: #ffbb00
}
