.CodeMirror {
    height: 100% !important;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fv-hover-fill-focus:hover {
    fill: #ffbb00;
}

.fv-tree-arianeLine {
    display: none;
}

.dag-flow-node-title {
    font-size: 8px;
    font-weight: bold;
    font-family: sans-serif;
    text-anchor: middle;
    alignment-baseline: middle;
    fill: white;
}

.dag-flow-node-status {
    font-size: 16px;
    text-anchor: middle;
    user-select: none;
    transform: translateY(5px);
    pointer-events: auto;
}
.dag-flow-node-run {
    font-size: 10px;
    text-anchor: middle;
    user-select: none;
    pointer-events: auto;
}
.dag-flow-node-settings {
    font-size: 10px;
    text-anchor: middle;
    user-select: none;
    pointer-events: auto;
}

.dag-flow-link {
    fill: none;
    stroke-width: 3px;
    stroke: white;
}

g.pending {
    animation: rotate 2s linear infinite;
}
circle.pending {
    stroke-linecap: round;
    stroke: aliceblue;
    stroke-width: 2px;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
